/* Normalizar los estilos para todos los navegadores */

body {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

.div-inicio{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.div-inicio .div-texto{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-inicio .div-texto h1{
    width: 90%;
    font-family: "Bree Serif", serif;
    font-weight: bold;
    color: #6F3F42;
    text-align: left;
    font-size: 60px;
}

.div-inicio .div-texto p{
    width: 90%;
    font-family: "Bree Serif", serif;
    color: #9A7578;
    text-align: left;
    font-size: 30px;
}

.div-inicio .div-dibujo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div-inicio .div-dibujo img{
    width: 75%;
}

.div-inicio .div-fondo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: url("./fondo.png") no-repeat center center;
    background-size: cover;
}

@media (max-width: 1000px) {
    .div-inicio .div-texto{
        width: 50%;
    }
    .div-inicio .div-texto h1{
        width: 90%;
        font-size: 45px;
    }

    .div-inicio .div-texto p{
        width: 90%;
        font-size: 25px;
    }

    .div-inicio .div-dibujo{
        width: 50%;
    }

    .div-inicio .div-dibujo img{
        width: 90%;
    }
}

@media (max-width: 700px) {
    .div-inicio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-inicio .div-texto{
        width: 100%;
        height: 40%;
        padding-top: 15%;
    }
    .div-inicio .div-texto h1{
        text-align: center;
    }

    .div-inicio .div-texto p{
        text-align: center;
    }
    .div-inicio .div-dibujo{
        width: 100%;
        height: 60%;
    }
    .div-inicio .div-dibujo img{
        width: 60%;
    }
}

@media (max-width: 600px) {
    .div-inicio .div-texto{
        padding-top: 15%;
    }
    .div-inicio .div-texto h1{
        font-size: 40px;
    }
    .div-inicio .div-texto p{
        font-size: 20px;
    }
    .div-inicio .div-dibujo img{
        width: 60%;
    }
}

@media (max-width: 500px) {
    .div-inicio .div-texto{
        padding-top: 15%;
    }
    .div-inicio .div-texto h1{
        font-size: 30px;
    }
    .div-inicio .div-texto p{
        font-size: 20px;
    }
    .div-inicio .div-dibujo img{
        width: 80%;
    }
}

@media (max-width: 375px) {
    .div-inicio .div-texto{
        height: 50%;
        padding-top: 20%;
    }
    .div-inicio .div-texto h1{
        font-size: 25px;
    }
    .div-inicio .div-texto p{
        font-size: 18px;
    }
    .div-inicio .div-dibujo{
        height: 50%;
    }
    .div-inicio .div-dibujo img{
        width: 60%;
    }
}

/* Estilos para el contenedor general */

.div-contenedor {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


/* Estilos para el contenedor cabeza de la pagina web */

.div-contenedor .div-cabeza {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCA2A6;
}

.div-contenedor .div-cabeza p {
    color: #fff;
    font-size: 30px;
    font-family: "Bree Serif", serif;
    font-weight: bold;
    text-align: center;
}


/* Estilos para el cuerpo en donde se muestran los resultados */

.div-contenedor .div-cuerpo {
    width: 70%;
    height: 75%;
    overflow-y: auto;
}


/* Estilos para el div en donde se muestra la consulta que ingreso el usuario */

.div-contenedor .div-cuerpo .div-text-usuario {
    width: 100%;
    display: flex;
    justify-content: right;
    height: auto;
}

.div-contenedor .div-cuerpo .div-text-usuario p {
    width: auto;
    max-width: 60%;
    font-size: 20px;
    font-family: "Trebuchet MS", sans-serif;
    text-align: right;
    color: #6F3F42;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    background-color: #EDD2D6;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
}


/* Estilos para el div en donde se muestra la explicacion de la IA */

.div-contenedor .div-cuerpo .div-text-IA {
    width: 100%;
    display: flex;
    justify-content: left;
    height: auto;
}

.div-contenedor .div-cuerpo .div-text-IA p {
    width: auto;
    max-width: 60%;
    font-size: 20px;
    font-family: "Trebuchet MS", sans-serif;
    text-align: left;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    background-color: #F5E7E9;
    color: #6F3F42;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}


/* Estilos para el contenedor en donde el usuario ingresa la setencia SQL */

.div-contenedor .div-mensaje {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-contenedor .div-mensaje .div-elementos {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-contenedor .div-mensaje .div-elementos textarea {
    width: 300%;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    border: none;
    /* color: #fff; */
    color: #000;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    background-color: #F5E1E2; 
    border-radius: 25px;
    border: solid 3px #441424;
}

.div-contenedor .div-mensaje .div-elementos button svg {
    color: #441424;
}

.div-contenedor .div-mensaje .div-elementos textarea:focus {
    outline: none;
}

.div-contenedor .div-mensaje .div-elementos button {
    width: 20%;
    background: none;
    border: none;
    color: #7C8C95;
    text-align: right;
    cursor: pointer;
}

.div-contenedor .div-fondo-chat{
    margin-top: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: url("./fondo-chat.png") no-repeat center center;
    background-size: cover;
}


/* Estilos para el diseño responsivo */

@media (max-width: 850px) {
    .div-contenedor .div-cuerpo {
        width: 90%;
    }
    .div-contenedor .div-mensaje .div-elementos {
        width: 90%;
    }
    .div-contenedor .div-cuerpo .div-text-IA p {
        max-width: 75%;
    }
    .div-contenedor .div-cuerpo .div-text-usuario p {
        max-width: 75%;
    }

}

@media (max-width: 650px) {
    .div-contenedor .div-cabeza p {
        font-size: 25px;
        line-height: 60px;
    }
}

@media (max-width: 450px) {
    .div-contenedor .div-cabeza p {
        font-size: 23px;
        line-height: 27px;
        margin-top: 30px;
    }
    .div-contenedor .div-cuerpo .div-text-usuario p {
        font-size: 18px;
    }
    .div-contenedor .div-cuerpo .div-text-IA p {
        font-size: 18px;
    }
    .div-contenedor .div-mensaje .div-elementos textarea {
        font-size: 18px;
    }
    .div-contenedor .div-mensaje .div-elementos button svg {
        width: 40px !important;
        height: 40px !important;
    }
}